<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

    <nav th:replace="snippets.html :: name_app_navbar"></nav>

    <div class="container">

        <h3>Brand Report</h3>
        <button class="btn btn-outline-success mt-2" id="download-data">Download CSV</button>

        <!-- Blank Row -->
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            <!-- Table -->
            <div class="col-12">
                <table class="table table-striped" id="brandCategory-table">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Brand</th>
                            <th scope="col">Category</th>
                            <th scope="col">ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Amul</td>
                            <td>Dairy</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div> <!-- Container end-->

    <footer th:replace="snippets.html :: name_footer"></footer>

    <script th:src="@{/static/brandReport.js}" />
    </script>

</body>

</html>