<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

    <nav th:replace="snippets.html :: name_app_navbar"></nav>

    <div class="container">
        <h3>Inventory Report</h3>
        <button class="btn btn-primary ml-auto mt-2" id="refresh-data">Refresh</button>
        <!-- Blank Row -->
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            <!-- Table -->
            <div class="col-12">
                <table class="table table-striped" id="inventory-report-table">
                    <thead>
                        <tr>
                            <th scope="col">Brand</th>
                            <th scope="col">Category</th>
                            <th scope="col">Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Amul</td>
                            <td>Dairy</td>
                            <td>1</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div> <!-- Container end-->

    <footer th:replace="snippets.html :: name_footer"></footer>
    <script th:src="@{/static/inventoryReport.js}" />
    </script>

</body>

</html>