<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

    <nav th:replace="snippets.html :: name_app_navbar"></nav>

    <div class="container">

        <h3>Orders</h3>

        <!-- Top row with form-->
        <div class="row">
            <div class="col-12">
                <a th:href="@{/ui/cart}" class="btn btn-outline-primary ml-3">Create New Order</a>
            </div>
        </div>

        <!-- Blank Row -->
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            <!-- Table -->
            <div class="col-12">
                <table class="table table-striped" id="order-table">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Order Time</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>12 Jan 2022</td>
                            <td>Edit</td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>

        <!-- Order Details Modal -->
        <div class="modal fade bd-example-modal-lg" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            role="dialog" id="order-details-modal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Order Details</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                    </div>
                    <div class="modal-body">
                        <!-- Display Order Id and Order Date -->
                        <div class="d-flex justify-content-between">
                            <div>
                                <strong>Order ID:</strong>
                                <p id="order-id"></p>
                            </div>
                            <div>
                                <strong>Order Time:</strong>
                                <p id="order-date"></p>
                            </div>
                        </div>
                        <table class="table table-striped" id="order-items-table">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">Product ID</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Selling Price</th>
                                    <th scope="col">Total Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>12 Jan 2022</td>
                                    <td>12 Jan 2022</td>
                                    <td>Edit</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-outline-primary" id="download-invoice"
                            data-bs-dismiss="modal">Download Invoice</button> -->
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Edit Order Modal -->
        <div class="modal fade bd-example-modal-lg " tabindex="-1" role="dialog" id="edit-order-modal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Order</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                    </div>
                    <form id="edit-order-form">
                        <input type="hidden" name="id">
                        <div class="modal-body">
                            <!-- Display Order Id and Order Date -->
                            <div class="d-flex justify-content-between">
                                <div>
                                    <strong>Order ID:</strong>
                                    <p id="order-id"></p>
                                </div>
                                <div>
                                    <strong>Order Time:</strong>
                                    <p id="order-date"></p>
                                </div>
                            </div>
                            <div id="edit-order-form-div">
                            </div>
                            <!-- <button type="submit" class="btn btn-outline-primary" id="place-order">Place Order</button> -->
                            <button class="btn btn-outline-secondary mt-2" type="button" id="add-row">Add more
                                product</button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary"
                                data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-outline-primary">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div> <!-- Container end-->

    <footer th:replace="snippets.html :: name_footer"></footer>

    <script th:src="@{/static/orders.js}" />
    </script>

</body>

</html>