<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

    <nav th:replace="snippets.html :: name_app_navbar"></nav>

    <div class="container">

        <h3>Products</h3>

        <!-- <div class="col-12"> -->
        <form id="product-form">
            <div class="row">
                <div class="form-group col-md-3">
                    <label for="inputBrandCategory">Brand Category</label>
                    <select type="text" class="form-select" name="brandCategory" id="inputBrandCategory" required
                        placeholder="Select Brand Category"></select>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputName">Name</label>
                    <input type=" text" class="form-control" required name="name" id="inputName"
                        placeholder="Product Name">
                </div>

                <div class="form-group col-md-3">
                    <label for="inputMRP">MRP</label>
                    <input type="number" step="0.01" min="0" class="form-control" required name="mrp" id="inputMRP"
                        placeholder="Product MRP">
                </div>
                <div class="form-group col d-flex align-items-end">
                    <button type="submit" class="btn btn-outline-primary mt-4" id="add-product">Add</button>
                </div>
                <div class="form-group col d-flex align-items-end">
                    <button type="button" class="btn btn-outline-success" id="upload-data">Upload TSV</button>
                </div>
            </div>

        </form>


        <!-- Table -->
        <div class="col-12 mt-3">
            <table class="table table-striped" id="product-table">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Brand</th>
                        <th scope="col">Category</th>
                        <th scope="col">MRP</th>
                        <th scope="col">Barcode</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Amul Cool</td>
                        <td>30</td>
                        <td>30</td>
                        <td>30</td>
                        <td>abc</td>
                        <td>Edit</td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>

    <!-- Product Edit Modal -->
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog"
        id="edit-product-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Product</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>
                <form id="product-edit-form">
                    <div class="modal-body">
                        <div class="d-grid gap-3">
                            <div class="form-group row">
                                <label for="inputName" class="col-sm-4 col-form-label">Name</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="name" required
                                        placeholder="enter name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputMRP" class="col-sm-4 col-form-label">MRP</label>
                                <div class="col-sm-8">
                                    <input type="number" step="0.01" class="form-control" name="mrp" required
                                        placeholder="enter mrp">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputBrandCategory" class="col-sm-4 col-form-label">Brand-Category</label>
                                <div class="col-sm-8">
                                    <select type="text" class="form-select" name="brandCategory" required
                                        id="inputBrandCategory" placeholder="Select Brand Category">
                                    </select>
                                </div>
                            </div>
                            <input type="hidden" name="id">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-outline-primary" id="update-product">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Product Edit Modal -->
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog"
        id="upload-product-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Upload Product</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>

                <div class="modal-body">
                    <div class="mb-3">
                        <label for="productFile" id="productFileName" class="form-label">Choose
                            file</label>
                        <input class="form-control" type="file" id="productFile">
                    </div>
                    <a th:href="@{/sample/product.tsv}" target="_blank">Download Sample</a>
                    <br>
                    Rows: <span id="rowCount">0</span>,
                    Processed: <span id="processCount">0</span>,
                    Errors: <span id="errorCount">0</span>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-outline-primary" id="process-data">Upload</button>
                    <button type="button" class="btn btn-outline-warning" id="download-errors">Download
                        Errors</button>
                </div>
            </div>
        </div>
    </div>

    </div> <!-- Container end-->

    <footer th:replace="snippets.html :: name_footer"></footer>

    <script th:src="@{/static/product.js}" />
    </script>

</body>

</html>