<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

    <nav th:replace="snippets.html :: name_app_navbar"></nav>

    <div class="container">
        <h3>Inventory Report</h3>
        <!-- Blank Row -->
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            <!-- Table -->
            <div class="col-12">
                <a th:href="@{/ui/reports/inventory}" class="btn btn-primary">Inventory Report</a>
                <a th:href="@{/ui/reports/brand}" class="btn btn-primary">Brand Report</a>
                <a th:href="@{/ui/reports/inventory}" class="btn btn-primary">Sales Report</a>
            </div>
        </div>
    </div> <!-- Container end-->

    <footer th:replace=" snippets.html :: name_footer"></footer>
    <script th:src="@{/static/inventoryReport.js}" />
    </script>

</body>

</html>