<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

    <nav th:replace="snippets.html :: name_app_navbar"></nav>

    <div class="container">
        <h3>Sales Report</h3>
        <!-- Blank Row -->

        <div class="container">
            <form id="filter-form">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="inputBrand" class="required">Brand</label>
                        <select class="form-control" name="brand" id="inputBrand" required placeholder="Select Brand">
                            <option value="amul">amul</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputBarcode">Starting Date</label>
                        <input id="startingdatepicker" name="startDate" required />
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputQuantity">Ending Date</label>
                        <input id="endingdatepicker" name="endDate" required />
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-primary">Fetch</button>
                <button class="btn btn-outline-success ml-2" id="download-data">Download</button>
            </form>
        </div>

        <div class="row">
            &nbsp;
        </div>

        <div class="row">
            <!-- Table -->
            <div class="col-12">
                <table class="table table-striped" id="sales-report-table">
                    <thead>
                        <tr>
                            <th scope="col">Category</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Revenue</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Dairy</td>
                            <td>1</td>
                            <td>1.11</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div> <!-- Container end-->

    <footer th:replace="snippets.html :: name_footer"></footer>
    <script th:src="@{/static/salesReport.js}" />
    </script>

</body>

</html>