<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

    <nav th:replace="snippets.html :: name_app_navbar"></nav>

    <div class="container">
        <h3>Sales Report</h3>
        <!-- Blank Row -->

        <div class="row">
            <div class="col-12">
                <form id="filter-form">
                    <div class="form-row">
                        <div class="form-group col-2">
                            <label for="inputBarcode">Starting Date</label>
                            <input id="startingdatepicker" name="startingDate" required />
                        </div>
                        <div class="form-group col-2">
                            <label for="inputQuantity">Ending Date</label>
                            <input id="endingdatepicker" name="endingDate" required />
                        </div>
                        <!-- <div class="form-group col-2">
                            <label for="inputBrandCategory">Brand</label>
                            <select type="text" class="form-control" name="brandCategory" id="inputBrandCategory"
                                required placeholder="Select Brand Category">
                        </div> -->
                    </div>
                    <button type="submit" class="btn btn-primary" id="refresh-data">Fetch</button>
                </form>
            </div>
        </div>

        <div class="row">
            &nbsp;
        </div>

        <div class="row">
            <!-- Table -->
            <div class="col-12">
                <table class="table table-striped" id="sales-report-table">
                    <thead>
                        <tr>
                            <th scope="col">Category</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Revenue</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Dairy</td>
                            <td>1</td>
                            <td>1.11</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div> <!-- Container end-->

    <footer th:replace="snippets.html :: name_footer"></footer>
    <script th:src="@{/static/salesReport.js}" />
    </script>

</body>

</html>